.m--0 {
  margin: 0;
}

.m--1 {
  margin: $space-1;
}
.m--2 {
  margin: $space-2;
}
.m--3 {
  margin: $space-3;
}
.m--4 {
  margin: $space-4;
}

.mx--auto {
  margin: 0 auto;
}
.mx--1 {
  margin: 0 $space-1;
}
.mx--2 {
  margin: 0 $space-2;
}
.mx--3 {
  margin: 0 $space-3;
}
.mx--4 {
  margin: 0 $space-4;
}

.my--1 {
  margin: $space-1 0;
}
.my--2 {
  margin: $space-2 0;
}
.my--3 {
  margin: $space-3 0;
}
.my--4 {
  margin: $space-4 0;
}

.mt--1 {
  margin-top: $space-1;
}
.mt--2 {
  margin-top: $space-2;
}
.mt--3 {
  margin-top: $space-3;
}
.mt--4 {
  margin-top: $space-4;
}

.mb--1 {
  margin-bottom: $space-1;
}
.mb--2 {
  margin-bottom: $space-2;
}
.mb--3 {
  margin-bottom: $space-3;
}
.mb--4 {
  margin-bottom: $space-4;
}
.mb--5 {
  margin-bottom: $space-5;
}
.mb--6 {
  margin-bottom: $space-6;
}
.mb--7 {
  margin-bottom: $space-7;
}
.mb--8 {
  margin-bottom: $space-8;
}

.ml--1 {
  margin-left: $space-1;
}
.ml--2 {
  margin-left: $space-2;
}
.ml--3 {
  margin-left: $space-3;
}
.ml--4 {
  margin-left: $space-4;
}

.mr--1 {
  margin-right: $space-1;
}
.mr--2 {
  margin-right: $space-2;
}
.mr--3 {
  margin-right: $space-3;
}
.mr--4 {
  margin-right: $space-4;
}
